@font-face {
  font-family: PF;
  src: url("../assets/PingFang Medium.ttf"),url("../assets/PingFang Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* font-family: PF; */
  /* font-family: '苹方'; */
  /* font-family: '思源黑体','Helvetica Neue',Roboto,Arial,'Droid Sans',sans-serif; */
  /* font-family: '更纱黑体 UI SC','Helvetica Neue',Roboto,Arial,'Droid Sans',sans-serif; */
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  /* font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  list-style-type: none;  
  /* color: rgb(68, 68, 68); */
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

/* --------------------------------------- TABLE --------------------------------------- */
table {
  border-collapse: collapse;  
  border-spacing: 0; 
  box-sizing: border-box;
}

tbody {
  display: block;
  overflow-y: scroll;
  width: calc(100% + 4px);
}

tr {
  display: table;
  table-layout: fixed;
  text-align: left;
}

.meter-table {
  margin: 0 32px;
}

.meter-table thead tr {
  width: calc(100% - 16px);
  margin: 22px 8px 18px 8px;
}

.meter-table thead span {
  font-weight: normal;
  font-weight: bold;
}

.meter-table tbody {
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.meter-table tbody tr {
  width: calc(100% - 16px);
  margin: 0 8px 6px 8px;
  border-radius: 6px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: default;
  box-shadow: 0px 0px 0px rgb(107, 53, 251, 0.4),   /*左边阴影*/ 
              0px 0px 0px rgb(107, 53, 251, 0.4),
              0px 0px 0px rgb(107, 53, 251, 0.4),
              0px 3px 3px 3px rgb(0, 0, 0, 0.02);
}

.meter-table tbody tr:hover {
  width: calc(100% - 12px);
  position: relative;
  z-index: 1000;
  margin: 0 6px 6px 6px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px rgb(107, 53, 251, 0.4),   /*左边阴影*/ 
              0px 0px 0px rgb(107, 53, 251, 0.4),
              0px 0px 0px rgb(107, 53, 251, 0.4),
              0px 9px 9px 3px rgb(107,53,251, 0.04);
}

.meter-table span {
  line-height: 40px;
  white-space: nowrap; /* 设置内容抵达容器边界会不会转到下一行 */
  overflow: hidden; /* 不显示超过对象尺寸的内容（这个绝对不能少）,也就是说设置td里面的数据无论有多少，都不会换行 */
  text-overflow: ellipsis; /* 将被隐藏的那部分用省略号代替 */
}

/* 表格 列 距离右侧 */
.td-space, .th-space {
  padding-right: 16px;
}

/* --------------------------------------- COLOR --------------------------------------- */
:root{
  --black: rgb(32, 32, 32);
  --white: #ffffff;
  --gray: #e1e1e1;
  --gray-line: #c1c1c1;
  /* --gray-text: #848484; */
  --gray-text: rgb(142,142,142);
  --prompt: #ccc;
  --input: #cdcdcd;
  --lightGrey: #f8f8f8;
  --Green: rgb(48,192,169);
}
/* 选取文字时的背景颜色 */
::selection {
  background: rgb(0, 209, 178);
  color: rgb(255, 255, 255);
}
::-moz-selection {
  background:rgb(0, 209, 178);
  color:rgb(255, 255, 255);
}
::-webkit-selection {
  background:rgb(0, 209, 178);
  color:rgb(255, 255, 255);
}

.row-1{
  width: 5%;
}

.row-2{
  width: 10%;
}

.row-3{
  width: 15%;
}

.row-4{
  width: 20%;
}

.row-5{
  width: 25%;
}

.row-6{
  width: 30%;
}

.row-8{
  width: 40%;
}

.row-10{
  width: 50%;
}

.row-14{
  width: 70%;
}

.row-15{
  width: 75%;
}

.row-20{
  width: 100%;
}

/* .text-bottom{
  vertical-align: bottom;
}

.row-empty{
  cursor: default;
  height: 48px;
  border-bottom: 1px solid var(--white) !important;
  box-sizing: border-box;
} */

/* --------------------------------------- 滚动条 --------------------------------------- */
/* 滚动条整体部分 */
::-webkit-scrollbar {  
  width: 4px;
  margin-right: 2px;
}
/* 滚动条两端的按钮 */
/* ::-webkit-scrollbar-button { 
  width:10px;
  background-color: yellow;
} */
::-webkit-scrollbar:horizontal {
  height: 4px;
  margin-bottom: 4px;
}
/* 外层轨道 */
::-webkit-scrollbar-track {  
  border-radius: 2px;
}
/*内层轨道，滚动条中间部分 */
::-webkit-scrollbar-track-piece {  
  background-color: rgb(250,250,250);
  /* background-color: #ddd; */
  border-radius: 2px;
}
/* 滑块 */
::-webkit-scrollbar-thumb {  
  width: 4px;
  border-radius: 2px;
  background: rgb(107, 53, 251);
  /* background: #fff; */
}
/* 边角 */
/* ::-webkit-scrollbar-corner { 
  width: 10px;
  background-color: red;
} */
/* 鼠标移入滑块 */
::-webkit-scrollbar-thumb:hover { 
  background: var(--black);
}

/* input */
/* Mozilla Firefox 4 to 18 */
/* :-moz-placeholder { 
  color: #eee; opacity:1; 
} */
/* Mozilla Firefox 19+ */
/* ::-moz-placeholder { 
  color: #eee;opacity:1;
}

input:-ms-input-placeholder{
  color: #eee;opacity:1;
}

input::-webkit-input-placeholder{
  color: #eee;opacity:1;
} */

/*input提示文字的颜色*/
/* WebKit browsers */ 
input::-webkit-input-placeholder { 
  color: var(--prompt);   
} 
/* Mozilla Firefox 4 to 18 */  
input:-moz-placeholder {  
  color: var(--prompt);  
} 
/* Mozilla Firefox 19+ */   
input::-moz-placeholder { 
  color: var(--prompt); 
} 
/* Internet Explorer 10+ */  
input:-ms-input-placeholder { 
  color: var(--prompt); 
} 

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.wrapper-content {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: flex-start; */
  width: 100%;
}

/* BUTTON*/
/* .button-normal {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  position: relative;

}

.button-normal:hover {
  cursor: pointer;
} */


/* --------------------------------------- TEXT --------------------------------------- */
.text-gray{
  color: var(--gray-text)
}

.text-border{
  font-weight: bold;
}


/* --------------------------------------- LIST --------------------------------------- */
.radioCheck {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-image: url(../assets/square@24x24_gray.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
  vertical-align: middle;
}

.radioChecked {
  background-image: url(../assets/check-square@24x24_purple.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.button-normal-margin {
  margin-bottom: 24px;
}


/* --------------------------------------- HEADER --------------------------------------- */
.fun-title {
  height: 40px;
}

.fun-title > span {
  line-height: 40px;
  font-weight: bold;
  font-size: 1.25rem;
}

/* .title-area {
  margin: 24px 0;
}

.title-area > span {
  font-size: 1.25rem;
  font-weight: bold;
} */

.search {
  display: flex;
  box-shadow: 0px 0px 1px 2px rgb(0,0,0,0.02);
}

.search > input {
  font-size: 1rem;
  line-height: 36px;
  height: 36px;
  min-width: 276px;
  outline: none;
  vertical-align: bottom;
  border-radius: 0 6px 6px 0;
  border: 2px solid rgb(237, 237, 237);
  border-left: 0px solid #fff;
}

.search > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  border-radius: 6px 0 0 6px;
  border: 2px solid rgb(237, 237, 237);
  border-right: 0px solid rgb(237, 237, 237);
  background-color: #fff;
}

.add-button, .save-button {
  margin-left: 24px;
  min-width: 116px;
}

.detail-button, .edit-button, .delete-button {
  margin-left: 12px;
  width: 36px;
  height: 36px;
  /* background-image: url(../assets/del@24x24_gray.png);
  background-repeat: no-repeat; */
}

.add-button, .detail-button, .edit-button, .delete-button, .save-button {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  color: rgb(182,182,182);
  border: 2px solid rgb(237, 237, 237);
  background-color: #fff;
  box-shadow: 0px 0px 1px 2px rgb(0,0,0,0.02);
}

.add-button > div, .detail-button > div , .edit-button > div , .delete-button > div, .save-button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button > span, .save-button > span {
  line-height: 36px;
  margin-left: 4px;
}

.add-button:hover, .detail-button:hover, .edit-button:hover, .delete-button:hover {
  color: rgb(107,53,251);
  font-weight: bold;
  cursor: pointer;
  /* border: 1.5px solid rgb(107,53,251); */
  position: relative;
  box-shadow: 0px 3px 3px 2px rgb(0,0,0,0.04);
}

.save-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(107, 53, 251);
  cursor: pointer;
  border: 2px solid rgb(107, 53, 251);
}

/* 
.detail-button, .edit-button, .delete-button {
  display: flex;
  justify-content: center;
  height: 38px;
  min-width: 118px;
  margin-left: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 0px 1px 2px rgb(0,0,0,0.02);
} */


/* --------------------------------------- CONTENT --------------------------------------- */
.content {
  width: 100%;
}

.main {
  /* display: flex;
  flex-direction: column; */
  margin: 48px 32px 24px 32px;
  /* border: 1.5px solid rgb(237, 237, 237);
  border-radius: 6px; */
  /* box-shadow: 0px 0px 1px 2px rgb(0, 0, 0, 0.02); */
}

/* .main-header-0 {
  height: 40px;
  width: 100%;
  background-color: rgb(107, 53, 251);
  border-radius: 6px 6px 0 0 ;
  position: relative;
}

.main-header-1 {
  height: 40px;
  width: 100%;
  background-color: #ddd;
  border-radius: 6px 6px 0 0 ;
  position: relative;
} */



/* .main-left {
  display: flex;
  flex-direction: column;
} */

.main-content { 
  /* display: flex; */
  /* width: calc(100% + 4px); */
  display: block;
  overflow-y: scroll;
  /* background-color: #fff; */
  width: calc(100% + 4px);
  /* padding: 0 320px; */
  /* height: 616px; */
}

.main-title {
  display: flex;
  align-items: flex-end;
  height: 72px;
  border-bottom: 2px solid var(--gray);
}

.main-title > div > span {
  font-size: 1.75rem;
  color: var(--black);
  /* font-weight: bold; */
}

.main-content-list {
  padding: 24px 0;
  margin: 0 8px;
  background-color: #fff;
  /* border-radius: 6px; */
  /* box-shadow: 0px 0px 0px rgb(107, 53, 251, 0.4),
                0px 0px 0px rgb(107, 53, 251, 0.4),
                0px 0px 0px rgb(107, 53, 251, 0.4),
                0px 3px 3px 3px rgb(0, 0, 0, 0.02); */
}

.main-content-list:first-child {
  /* margin-top: 24px; */
  padding-top: 48px;
  /* border-top: 4px solid #ddd; */
  border-radius: 6px 6px 0 0 ;
}

.main-content-list:last-child {
  /* margin-bottom: 24px; */
  padding-bottom: 48px;
  /* margin-bottom: -12px; */
  border-radius: 0 0 6px 6px;
}

.main-content-list > div {
  display: flex;
  margin: 8px 0;
}

.main-content-list > div:first-child {
  margin-top: 0px;
}

.main-content-list > div:last-child {
  margin-bottom: 0px;
}

.main-content-list > div > div:first-child {
  width: 25%;
  min-height: 40px;
  margin-left: 20%;
  display: flex;
  /* justify-content: flex-end; */
}

.main-content-list > div > div:first-child > span{
  /* font-size: 1rem; */
  /* font-weight: bold; */
  margin-right: 24px;
  color: var(--gray-text);
  /* vertical-align: text-top; */
  line-height: 40px;
}

.main-content-list > div > div:last-child {
  width: 80%;
  min-height: 40px;
  margin-right: 20%;
  border-radius: 6px;
  /* border: 1.5px solid rgb(237, 237, 237);
  background-color: rgb(250, 250, 250); */
}

/* .main-content-list > div > div:last-child > p {
  margin-bottom: 8px;
  font-weight: bold;
  height: 24px;
  color: var(--gray-text);
} */

.main-content-list > div > div:last-child > span {
  /* margin-bottom: 8px; */
  font-weight: bold;
  line-height: 40px;
  padding-left: 8px;
}

.main-content-list > div > div:last-child > input {
  width: 60%;
  /* margin-right: 35%; */
  border: 0px;
  outline: none;
  height: 36px;
  line-height: 36px;
  color: var(--black);
  font-weight: bold;
  caret-color: var(--black);
  padding-left: 8px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 6px;
}

.input-select-prompt {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
}

.input-select-prompt > input{
  width: 80%;
  min-height: 40px;
  border-radius: 6px;
}

.input-select-prompt > div:last-child {
  border-radius: 4px;
  margin-left: 8px;
  background-color: rgb(255, 88, 70);
  padding: 0 4px;
}

.input-select-prompt > div:last-child > span {
  font-size: 0.875rem;
  color: #fff;
}



.select-state{
  display: flex;
}

.select-state > div{
  height: 36px;
  border: 2px solid rgb(237, 237, 237);
  padding: 0 24px;
  margin-right: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: #ccc;
  background-color: #fff;
}

.select-state > div:hover {
  cursor: pointer;
}

.active {
  color: rgb(107, 53, 251) !important;
  font-weight: bold;
  border: 2px solid rgb(107, 53, 251) !important;
}

.select-state span{
  line-height: 36px;
  display: flex;
  justify-content: center;
}

.main-content-divider {
  min-height: 2px !important;
  background-color: rgb(250, 250, 250);
}



/* --------------------------------------- SELECT --------------------------------------- */
.bb {
  width: 60%;
}

.select-head {
  /* box-sizing: border-box; */
  height: 36px;
  /* width: calc(60% + 8px); */
  width: 100%;
  margin-right: 8px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 2px solid rgb(237, 237, 237);
}

.select-head > p > span:first-child, .select-head > p > span:last-child {
  color: var(--input);
  line-height: 40px;
}

.select-head > p > span:last-child {
  font-weight: bold;
  color: var(--black);
}

.select-head + div {
  /* padding-left: 8px; */
  margin-top: 4px;
  padding: 8px 0;
  text-indent: 8px;
  /* width: calc(60% + 8px); */
  width: calc(100% + 8px);
  /* background-color: var(--lightGrey); */
  border: 2px solid rgb(237, 237, 237);
  background-color: #fff;
  position: relative;
  z-index: 1000;
  border-radius: 6px;
  /* max-height: 216px;
  min-height: 216px; */
  /* height: 216px;
  overflow-y: scroll; */
  box-shadow: 0px 3px 3px 3px rgb(107,53,251,0.04);
}

.select-head + div > div {
  font-weight: bold;
  /* margin-top: 4px; */
  height: 40px;
  vertical-align: bottom;
  line-height: 40px;
  /* border-bottom: 1px var(--lightGrey) solid; */
}

.select-head + div > div:hover {
  background-color: #ddd !important;
}

.select-head > p > span:first-child {
  font-size: 1rem;
  color: rgb(182, 182, 182);
  line-height: 37px;
}

.select-head > p > span:last-child {
  /* font-size: 1rem; */
  font-weight: bolder !important;
  color: rgb(0, 0, 0) !important;
  /* line-height: 37px;
  padding-left: 8px; */
}

.select-head img {
  width: 24px;
  height: 24px;
  padding-right: 8px;
}

.select-head > p > span:first-child {
  font-weight: bolder !important;
  color: var(--black) !important;
}
/* .text-border{
  font-weight: bold;
  color: var(--black);
} */






/* --------------------------------------- RELEVANCE WATER METER LIST --------------------------------------- */
.choose-relevance {
  display: flex;
  /* justify-content: space-between; */
}
.choose-relevance > div:first-child {
  min-width: 60%;
  padding-left: 8px;
  border-radius: 6px;
  border: 2px solid rgb(237, 237, 237);
  background-color: rgb(250, 250, 250);  
}
.choose-relevance > div > span {
  line-height: 36px;
  font-weight: bold;
}

.choose-relevance-btn {
  height: 36px;
  border-radius: 6px;
  padding: 0 24px;
  margin-left: 8px;
  border: 2px solid rgb(237, 237, 237);
}
.choose-relevance-btn > span {
  line-height: 36px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.choose-relevance-btn:hover {
  cursor: pointer;
  color: rgb(107, 53, 251);
}

.relevance-area {
  padding: 0 32px;
  position: fixed;
  right: 0;
  top: 8px;
  width: 28%;
  background-color: rgb(255,255,255);
  z-index: 1000;
  box-shadow: 0px 0px 0px rgb(255, 255, 255),
                0px 0px 0px rgb(255, 255, 255),
                -5px 0px 5px 0px rgb(0, 0, 0, 0.02),
                0px 0px 0px rgb(255, 255, 255);
}

.relevance-area > div:first-child {
  width: 100%;
  margin-bottom: 24px;
  padding: 16px 0;
  height: 88px;
}

.relevance-area > div:first-child > p:first-child {
  font-size: 1.25rem;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
}

.relevance-area > div:first-child > p:last-child {
  font-weight: normal;
  margin-bottom: 8px;
  color: var(--gray-text);
  height: 24px;
  line-height: 24px;
}

.relevance-content {
  display: block;
  overflow-y: auto;
}

.relevance-list {
  height: 40px;
  margin-bottom: 6px;
  background-color: rgb(250,250,250);
  border-radius: 6px;
  padding: 0 12px;
  width: calc(100%-8px);
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.relevance-list > div {
  margin-right: 16px;
}

.relevance-list-code, .relevance-list-name {
  font-weight: bold;
}

.relevance-list-code {
  width: 16%;
}

.relevance-area-btn {
  height: 40px;
  background-color: rgb(107, 53, 251);
  margin: 24px 12px 24px 0;
  border-radius: 6px;
  float: right;
}

.relevance-area-btn > span {
  line-height: 40px;
  padding: 0 16px;
  color: #fff;
}

.relevance-area-btn:hover, .relevance-list:hover {
  cursor: pointer;
}

